.db-ul {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-top: 30px;
  padding-left: 80px;
}
.db-ul li {
  list-style: none;
}
.logout-svg {
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
}
.db-container {
  display: flex;
}
.db-entry {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  margin: 50px auto;
  width: 85%;
}
.entry-card {
  margin-right: 40px;
  margin-top: 40px;
}
