.nav-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav {
  width: 100%;
}
nav li:first-child {
  flex-basis: 100%;
}
.menu-item {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}
.logo-text {
  font-size: 22px;
  color: #fd007d;
}
.login-btn {
  margin-top: 10px;
  padding-right: 30px;
}
.login-btn a {
  text-decoration: none;
  color: #000;
}
.signup-btn {
  border: 1px solid #fd007d;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  width: 90px;
  background-color: #fd007d;
}
.signup-btn a {
  text-decoration: none;
  color: #fff;
}
